In [6]:
from sklearn.preprocessing import MinMaxScaler
data =[[-1,2],[-0.5,6],[0,10],[1,18]]
import pandas as pd
pd.DataFrame(data)

     0   1
0 -1.0   2
1 -0.5   6
2  0.0  10
3  1.0  18

In [10]:
scaler = MinMaxScaler()
scaler = scaler.fit(data)
result = scaler.transform(data)
pd.DataFrame(result)

      0     1
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  1.00  1.00

In [8]:
result_ = scaler.fit_transform(data)

In [9]:
scaler.inverse_transform(result)

array([[-1. ,  2. ],
       [-0.5,  6. ],
       [ 0. , 10. ],
       [ 1. , 18. ]])

In [ ]:
data =[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler = MinMaxScaler(feature_range=[5,10])
result = scaler.fit_transform(data)

In [12]:
data =[[-1,2],[-0.5,6],[0,10],[1,18]]
scaler = MinMaxScaler(feature_range=[5,10])
result = scaler.fit_transform(data)s
result

array([[ 5.  ,  5.  ],
       [ 6.25,  6.25],
       [ 7.5 ,  7.5 ],
       [10.  , 10.  ]])